
<div class="question-column">
    <ul class="question-list">
        <%comments.each do |comment|%>
            <% if comment.parent_id.present? || comment.id.blank? %>
            <% next %>
            <% end %>
            <li class="each-question">
                <div class="user-image">
                    <%if comment.user.image.attached?%>
                       <%=image_tag (comment.user.image), :size=>"40x40"%>
                    <%else%>
                    <img src="<%=comment.user.user_image%>" alt="" width="40px" height="40px">
                    <%end%>
              </div>
              <div class="question-info">
                  <div class="detail">
                      <div class="question-email"><%= comment.user.user_name%>
                      </div>
                      <%= link_to("reply", post_response_create_path(@post.id, comment.id), remote: true, method: :post)%>
                       <div class="question-time"><%= comment.created_at.to_s(:datetime)%>
                       </div>
                  </div>
                  <div class="questiont-text">
                  <%=comment.content%>
                  </div>
                </div>
             </li> 
        <%end%>
    </ul>
    <ul class="answer-list">
        <%comments.each do |comment|%>
            <% comment.replies.each do |reply| %> 
                <li class="each-answer">
                <div class="user-image">
                    <%if reply.user.image.attached?%>
                       <%=image_tag (reply.user.image), :size=>"40x40"%>
                    <%else%>
                    <img src="<%=reply.user.user_image%>" alt="" width="40px" height="40px">
                    <%end%>
              </div>
              <div class="answer-info">
                  <div class="detail">
                      <div class="answer-email"><p><%= comment.user.user_name%>さんへの返信</p>
                      </div>
                  </div>
                  <div class="answer-text">
                  <%=reply.content%>
                  </div>
                </div>
             </li> 
            <%end%>  
        <%end%>
    </ul>
</div>
