<div class="comment-show">
          <ul class="comment-list">
          <%comments.first(10).each do |comment|%>
            <li class="each-comment">
              <div class="user-image">
              <%if comment.user.image.attached?%>
                <%=image_tag (comment.user.image), :size=>"40x40"%>
              <%else%>
                <img src="<%=comment.user.user_image%>" alt="" width="40px" height="40px">
              <%end%>
              </div>
              <div class="comment-info">
                <div class="detail">
                  <div class="comment-email"><%= comment.user.user_name%></div>
                  <%= link_to("reply", post_response_create_path(@post.id, comment.id), remote: true, method: :post)%>
                   <div class="comment-time"><%= comment.created_at.to_s(:datetime)%></div>
                </div>
                <div class="comment-text">
                  <%=comment.content%>
                </div>
               </li> 
      <%end%>
          </ul>
      </div>