<div class="profile">
  <div id="edit-form">
  <%=render partial: "users/edit", locals:{user:@user}%>
  </div>
  <div class="profile-container">
    <div class="profiles">
      <div class="profile-row">
        <div class="user-image">
        <%if @user.image.attached?%>
          <%=image_tag @user.image%>
          <%else%>
          <img src="<%=@user.user_image%>" alt="the profile photo">
        <%end%>
        </div>
        <div class="personal-info">
          <h2><%=@user.name%></h2>
          <p class="userId">ユーザー名:<%=@user.user_name%></p>
          <p class="start-date"><%=@user.created_at.to_s(:datetime)%>日から利用しています</p>
        </div>
      </div>
      <div class="data-management">
       <%if user_signed_in? && @user.id==current_user.id%>
      <div class="profile-edit">
        <div class="edit-button">編集</div>
      </div>
      <div class="profile-delete">
        <%= link_to '削除', user_registration_path, method: :delete, class: "delete-button"%>
      </div>
      <%end%>
      </div>

    </div>
    <div class="activity-row">
      <ul>
        <li><%=@user.posts.count%></li>
        <li><%=@user.likes.count%></li>
        <li><%=@replies%></li>
      </ul>
      <div class="duration-stay"><%=@user.stay_period%>日からパースに滞在中</div>
      <div class="duration-study"><%=@user.study_period%>日から英語学習中</div>
    </div>
    <div class="introduction-row">
      <h5 class="title">自己紹介</h5>
      <div class="about">
        <%=@user.profile%>
      </div>
    </div>
    <div class="socialmedia-row">
      <div class="socialmedia-title">
        <h5>SNSアカウント</h5>
      </div>
      <ul class="socialmedia-lists">
        <li><i class="fab fa-twitter-square fa-2x"></i>@<%=@user.twiiter%></li>
        <li><i class="fab fa-instagram fa-2x"></i>@<%=@user.instagram%></li>
      </ul>
    </div>
    <div class="post-row">
      <h5 class="title"><%=@user.name%>さんの投稿</h5>
      <% if @user.posts%>
        <ul class="post-lists">
        <% @user.posts.each do |post|%>
          <li class="each-post">
            <%=image_tag post.images.first, class: "post-image"%>
            <div class="post-details">
              <%=link_to(post_path(post.id), data: {"turbolinks" => false}) do%>
              <h5><%=post.title%></h5>
              <p><%=post.text%></p>
              <%end%>
              <p><%=post.created_at.to_s(:datetime)%></p>
            </div>
          </li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
</div>
<%= javascript_include_tag "users/show" %>
