<div class="update-new">
        <div class="new-head">
          <h2>新着投稿</h2>
          <div class="silide-buttons">
            <button type="button" class="btn btn-secondary btn-sm" id="slide-previous-button">＜
            </button>
            <button type="button" class="btn btn-secondary btn-sm" id="slide-next-button">＞
            </button>
          </div>
         </div>         
          <div class="new-update">
          <% post.each do |post|%>
            <div class="flex first-silde-items">
              <div class="each-item">
              <% if post.images.count > 0%>
                <%=link_to image_tag(post.images.first, :size =>'330x170'), post_path(post.id)%>
                  <div class="new-update-info">
                    <div class="new-update-title"><%=post.title%>
                    </div>
                    <div>
                      <div class="new-update-time"><%=post.created_at.to_s(:datetime)%>
                      </div>
                      <%if user_signed_in?%>
                      <% if current_user.liked_by?(post.id)%>
                       <%= link_to(destroy_like_path(post.id), method: :delete, remote: true) do %>
                       <i class="fas fa-thumbs-up"></i>
                       <%end%>
                       <%=post.likes.count%>
                        <%else%>
                           <%= link_to(create_like_path(post.id), method: :post, remote: true) do %>
                        <i class="far fa-thumbs-up"></i>
                        <%end%>
                        <%=post.likes.count%>
                      <%end%>
                        <i class="far fa-comments"></i>
                       <%=post.comments.count%>
                      <%else%>
                       <i class="far fa-thumbs-up"></i>
                       <%=post.likes.count%>
                       <i class="far fa-comments"></i>
                       <%=post.comments.count%>
                      <%end%>
                    </div>
                </div>
              <%end%>
            </div>
           </div>
           <%end%>
         </div>
      </div>