<div class="new-update">
          <% post.each do |post|%>
            <div class="flex third-silde-items">
              <div class="each-item">
              <% if post.images.count > 0%>
                <%=link_to image_tag(post.images.first, :size =>'330x170'), post_path(post.id), data: {"turbolinks" => false}%>
                  <div class="new-update-info">
                    <div class="new-update-title"><%=post.title%>
                    </div>
                   <div>
                      <div class="new-update-time"><%=post.created_at.to_s(:datetime)%>
                      </div>
                      <div class="post_<%=post.id%> like">
                        <%=render partial: "posts/post_like", locals:{post:post}%>
                      </div>
                    </div>
                </div>
              <%end%>
            </div>
           </div>
           <%end%>
</div>
