<section>

  <div class=photo-container>
    <div class="post-and-post">
      <div class="post-box">
          <div class="place-info">
        <% if @post.images.attached?%>
           <div class="left-image-area">
            <div class="post-title">
          <%=@post.title%>
        </div>
          <div class="seen-image">
            <%= image_tag @post.images.first, class: "main-image"%>
          </div>
        </div>
        <div class="preview-images">
          <% @post.images.each do |image|%>
          <div class="post-image">
            <%= image_tag(image,class: "preview-image")%>
          </div>
           <%end%>
          </div>
          </div>
        <%end%>
        <div class="post-text">
          <%= @post.text%>
        </div>
          <div class="post-detail">
            <div class="left-detail">
              <%=link_to("/users/#{@post.user_id}/show", data: {"turbolinks" => false}) do%>
              <div class="profile-image">
              <%if @post.user.image.attached?%>
                <%=image_tag (@post.user.image), :size=>"40x40"%>
              <%else%>
                <img src="<%=@post.user.user_image%>" alt="" width="40px" height="40px">
              <%end%>
                <%=@post.user.user_name%>
              </div>
              <%end%>
              <div class="post-time">
                <span>投稿日:<%=@post.created_at.to_s(:datetime)%></span>
              </div>
              <%if user_signed_in? && @post.user_id==current_user.id%>
               <div class="modify-post">
                  <%=link_to"編集", edit_post_path,data: {"turbolinks" => false}%>
                  <%= link_to '削除', post_path, method: :delete %>
              </div>
              <%end%>
            </div>
            <div class="right-detail">
                  <div class="post_<%=@post.id%>">
                    <%=render partial: "posts/post_like", locals:{post:@post}%>
                  </div>
              </div>
          </div>
      </div>
      <div class="interactive">
      <ul class="inquire-box">
        <li class="color">投稿にコメントする</li>
        <li>
          <% if @post.user.name.present?%>
            <p><%=@post.user.name%>さんに質問する</p>
          <%else%>
            <p>投稿者に質問する</p>
          <%end%>
        </li>
      </ul>
      <ul class="inquire-container">
          <li class="comment-filed tag">
            <div class="comment-box">
            <% if user_signed_in?%>
              <div class="comment-form" id="comment_form">
              <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
                </div>
              <%end%>
              </div>
              <div id="comments_area">
                <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
            </div>
          </li>
          <li class="question-filed">
          <div class="question-box">
            <% if user_signed_in?%>
              <div class="question-form" id="question_form">
              <%= render partial: 'questions/form', locals: { question: @question, post: @post } %>
                </div>
              <%end%>
              </div>
              <div id="question_area">
              <%=render partial: "questions/answer_index", locals:{questions:@questions, post: @post}%>
              </div>
          </li>
      </ul>
      </div>
    <div class="recommened-article">
           <div class="map-area">
             <div id="map"></div>
          </div>
          <div id="latitude">
          <%=@post.latitude%></div>
          <div id="longitude">
          <%=@post.longitude%></div>
          <div id="address"><%=@post.address%></div>
          <div id="recommended-places">
            <h3>近くのおすすめ<br>スポット</h3>
            <ul id="recommended-list"></ul>
          </div>




    </div>
      </div>
  </div>
<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>
</section>
<%= javascript_include_tag "posts/show" %>
