<div class="headingCommon" id="oko">
    <div class="logo-space">
         <img src="/logo.png" alt="" class="header-logo">
    </div>
    <div class="commonHeadingContents">
            <ul class="info">
             <%if user_signed_in?%>
                <li class="contact-button"><%=link_to "TOPページ", root_path, data: {"turbolinks" => false} %>
                </li>
                <li class="newpage-nav"><%=link_to "新規投稿", new_post_path, data: {"turbolinks" => false}%></li>
                <li class="mypage-nav"><%=link_to"My ページ", profile_show_path(current_user.id), data: {"turbolinks" => false}%>
                </li>
                <li> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
                <%else%>

                 <li class="contact-button"><%=link_to "TOPページ", root_path, data: {"turbolinks" => false} %>
                 </li>
                      <li><%= link_to"新規登録/ログイン", new_user_registration_path, data: {"turbolinks" => false}%>
                  </li>

             <%end%>
        </ul>
  </div>
</div>
