
<div class="left-signup">
    <div class="cover"></div>
    <div class="welcome-signup">
      <h3>Welcome To Perth Experience</h3>
      <p>Your Journey Are full Of Nature and Discovery<br>Please Sign Up and Get Your Future</p>
    </div>
    <img src="/login_perth.jpg" alt="" class="signup-image">
  </div>
<div class="right-signup">
  <div class="signup-box">
    <div class="login-header">
      <h3>新規会員登録</h3>
    </div>

    <div class="main-form">
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "form-login" }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      <div class="login-form">
        <div class="login-set">
          <%= f.label :user_name, "ユーザー名"%>
          <%= f.text_field :user_name, class: "login-control", id: "name-user"%>
        </div>
      </div>
       <div class="login-form">
         <div class="login-set">
            <%= f.label :email, "Eメール"%>
            <%= f.email_field :email, class: "login-control", id: "mail" %>
          </div>
      </div>
      <div class="login-form">
        <div class="login-set">
          <%= f.label :password, "パスワード"%>
          <% if @minimum_password_length %>
          <% @minimum_password_length %>
            <% end %>
            <%=  f.password_field :password, class: "login-control", id: "password-password", placeholder: "6文字以上" %>
          </div>
      </div>
      <%=  f.hidden_field :user_image,autocomplete: "new-password" , class: "login-control", value: "/taro.png"%>
      <div>
      <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
<div class="sns-group">
    <p>SNSでログイン</p>
    <ul class="sns-list">
       <li>
         <%= link_to user_twitter_omniauth_authorize_path do %>
         <div class="sns-path">
            <button class="btn btn-primary btn-sm twitter"><i class="fab fa-twitter-square fa-2x"></i><span>Twitter</span></button>
         </div>
       <% end %>
      </li>
       <li>
          <%= link_to user_google_oauth2_omniauth_authorize_path do %>
          <div class="sns-path">
            <button class="btn btn-primary btn-sm google"><i class="fab fa-google fa-2x"></i><span>Google</span></button>
          </div>
         <% end %>
        </li>
     </ul>
     </div>
      <div class="move-to-login">
          <a id="move-to-login">ご登録済みの方はこちら</a>
        </div>
      </div>
  </div>
  </div>
